 *{
    margin: 0px;
    pad: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
 html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(78, 77, 77);
 }
 h1{
    color: white;
    text-shadow: 3px 3px 0px rgb(0, 47, 255);
    padding: 10px;
 }
 @media (min-width: 600px) and (max-width: 750px) {
   h1{
      background-color: rgb(110, 34, 72);
      
   }
   body{
      background-color: aquamarine;
   }
 }
 @media (orientation: landscape) {
   h1{
      color: crimson;
   }
 }
 @media (orientation: portrait) {
   h1{
      color: rgb(180, 20, 220);
   }
 }