@charset  'UTF-8';

@font-face{
    @import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');
    }

* {
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#228030;
    --cor1:#91FFA2;
    --cor2:#44FF60;
    --cor3:#498051;
    --cor4:#37CC4D;

    --fonte-padrao: arial, verdana, sans-serif;
    --fonte-deastaque:font-family: 'Bebas Neue', cursiva;

}

body{
    background-image: linear-gradient(red, rgb(224, 212, 212));
    text-align: justify;
    margin: auto ;
    min-width: 280px;
    max-width: 800px;

}
h1{
    text-align: center;
    font-family: var(--fonte-deastaque);
    font-size: 60px;
}

ul{
    cursor: pointer;
    background-color: #ecb8d0;
}

header{
    background-color: var(--cor0);
    box-shadow: 1px 1px 1px black;
    border-radius: 10px 10px;
    text-align: center;
    padding-top: 40px;
}
img{
    width: 100%;
}
main{
    background-color: azure;
    min-width: 300;
    max-width: 1000px;

}
nav{
    width: 30%;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}