/*todas as demais midias*/
@media print {
    
}
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg); 
    }
    img#telefone{display: none;}
    img#tablet{display: block;}
    img#impressora{display: none;}
    img#pc{display: none;}
    img#televisao{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    
}@media screen and (min-width: 1200px) {
    
}